source https://www.nuget.org/api/v2
storage: none
framework: netstandard2.0

clitool dotnet-fable
nuget Fable.Core
nuget Fable.Import.Browser
# nuget Fable.Import.Jest // Use when ready for Fable2
github nojaf/fable-jest:fable2 fable/Bindings.fs
github nojaf/fable-jest:fable2 fable/Exports.fs
github nojaf/fable-jest:fable2 fable/Matchers.fs